body {
    height: 100%;
    background-image: url("https://images.pexels.com/photos/374918/pexels-photo-374918.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    position: relative;
    color:rgb(255, 255, 255);
}
.navbar.navbar-inverse {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:12%;
    }
#home{
    border-radius:5px;
    background-color:rgb(59, 4, 4);
    padding-top:5px;
    font-size:24px;
    margin:10px;
    margin-top:18px;
}
#about{
    
    border-radius:5px;
    background-color:rgb(59, 4, 4);
    padding-top:5px;
    font-size:24px;
    margin:10px;
    margin-top:18px;
}
#help{
    background-color:rgb(59, 4, 4);
    padding-top:5px;
    font-size:18px;
    margin:10px;
    margin-top:18px;
    color:black;
}

.col-md-6{
  font-size:100px;
  padding:30px;
}
#about1,.help{
  background-color: white;
  color: black;
  text-align: center;
  width: 40%;
  height:550px;
  margin-left:30%;
  margin-top:10%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
#about1 h1,#about1 h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 50px;
}

.close{
  background-color: rgb(180, 0, 0);
  color: white;
  text-decoration: none;
  height: 20px;
  width:90px;
  padding: 5px;
  padding-top: 6px;
  font-size: 20px;
   float: right; 
   border-radius:7px;
   margin: 2px;

  
}
.help{
  height:300px;
}

.calculator{
background-color: white;
border:1px solid rgb(207, 207, 207);
width:20%;
height:500px;
margin-left:40%;
display: none;

}

.footer-content {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

.list-inline a {
  color: rosybrown;

}
.footer {
  position: fixed; 
  color: white;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Julius Sans One';
}


#head{font-weight:900;
  font-size: 30px;
font-family: 'Courier New', Courier, monospace;
}

#inputPounds{background-color:#ffe6e6; 
  padding: 17px;
  width:60%;
  margin-bottom: 20px;
border:3px solid rgb(153, 46, 46);
} 

#inputKilograms{background-color:#ffcccc;
padding: 17px;
width:60%;
margin-bottom: 20px;
border:3px solid rgb(153, 46, 46);

}


#inputOunces{background-color:#ff9999;
   padding: 17px;
  width:60%;
  margin-bottom: 20px;
  border:3px solid rgb(153, 46, 46);
  border-radius:20/px;
}

#inputGrams{background-color: #ffb3b3; 
  padding: 17px;
  width:60%;
  margin-bottom: 20px;
  border:3px solid rgb(153, 46, 46);
}

#inputStones{background-color:#ff8080 ; 
  padding: 17px;
  width:60%;
  border:3px solid rgb(153, 46, 46);

}

  input[type=number]{color:rgb(70, 14, 58);
  font-size: 15px;
font-weight: 900;
font-family:"courier new";
}
label{font-size:15px;
  font-style:italic;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .list-inline-item{
  margin-left: 40px;
}
 @media (max-width: 1049px) {
  #home,#about,#help{
    padding-top:2px;
    font-size:15px;
    width:25%;
    margin:10px;
    margin-top:9px;
    margin-bottom:5px;

  }
  #calculator{
    margin-top: 30%;
    margin-left: 20%;
    margin-right: 5%;
    height: 50px;
  
  }
  #converter{
    margin-top: 10%;
    margin-left: 20%;

    height: 50px;
    padding-top: 2%;
  
  }
  .footer {
    margin-top:30px;

 }
}
